<%- include("partials/header") -%>

<h1>Compose</h1>

<form class="" action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input class="form-control" type="text" name="newAdd">
    <label>Post</label>
    <textarea class="form-control" name="newAdd2" rows="4" cols="25"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>
